[submodule "modules/LandMine"]
	path = modules/LandMine
	url = https://github.com/PredictiveEcology/LandMine
[submodule "modules/wolfAlps"]
	path = modules/wolfAlps
	url = https://github.com/PredictiveEcology/wolfAlps.git
